<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>FEMS DataHub</title>

    <!-- Bootstrap -->
    <link href="/static/dataSearch/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/dataSearch/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="container">
    	<!-- -->
    	<div class="page-header">
    		<h1>FEMS DataHub <small>Data Search Application</small></h1>
    	</div>
    	
			<form role="form" action="/datahub/frontauth/auth/" method="POST">
				{% csrf_token %}
				
				{% if next %}
				<input type="hidden" name="next" value="{{next}}"/>
				{% endif %}
				
			  <div data-role="fieldcontain" class="form-group">
			    <label for="email">Email address</label>
			    <input type="email" name="email" id="email" class="form-control" placeholder="Enter email">
			  </div>
			  <div data-role="fieldcontain" class="form-group">
			    <label for="password">Password</label>
			    <input type="password" name="password" id="password" class="form-control" placeholder="Password">
			  </div>
			  <button type="submit" name="submit" value="submit-value" class="btn btn-default">Submit</button>
			</form>    	
    </div>
    
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/dataSearch/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
